<div class="outer">
    <mat-card class="my-card">
        <span style="color: blueviolet; height:20px;">Reset Password</span>
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Enter New Password" [formControl]="new_password" required>
                <mat-error *ngIf="new_password.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Confirm Password" [formControl]="conf_password" required>
                <mat-error *ngIf="conf_password.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button (click)="reset()" color="primary">Reset</button>
                <button mat-raised-button [routerLink]='"/login"' color="primary">Cancel</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>