.my-card {
    margin: auto;
    width: 30%;
    background-color: white;
    padding: 5%;
}

.outer {
    margin-top: 10%;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}