.main-nav{
    background-color: #1B998B;
    color: white;
}
a{
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: white;
     
}
a:hover{
    background-color: white;
}