<mat-toolbar class="main-nav">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>IQBAL CARPETS</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/cards">Cards</a>
      <a mat-button routerLink="/users">Users</a>
      <a mat-button routerLink="/contact">Contacts</a>
      <a mat-button routerLink="/user">Registered Users</a>
      <a mat-button routerLink="/someform">Some Form</a>
      <a mat-button (click)="logout()">Logout</a>

      <!-- <a mat-button [routerLink]="'/about'"> About Company </a>
      <a mat-button [routerLink]="'/users'"> Users </a>
      <a mat-button [routerLink]="'/contact'"> Contact </a>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/login'"> Login </a>
      <a mat-button [routerLink]="'/register'"> Create Your Account </a> -->

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">Iqbal Carpets helps you easily buy your Favourite</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/carpet1'"> Carpet 1 </a>
      <a mat-list-item [routerLink]="'/carpet2'"> Carpet 2 </a>
      <a mat-list-item [routerLink]="'/carpet3'"> Carpet 3 </a>
      <a mat-list-item [routerLink]="'/carpet4'"> Carpet 4 </a>
      <a mat-list-item [routerLink]="'/cards'"> Cards </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>