<div class="card">
    <h5 class="card-header" mat-dialog-title>Product Details
        <span><mat-icon class="float-right" (click)="onNoClick()">close</mat-icon></span></h5>
    <div mat-dialog-content class="card-body">
        <table>
            <tr>
                <td height="50%;" width="40%;">
                    <img class="img-rounded" height="400px;" width="500px;" [src]="data.image" />
                </td>
                <td height="50%;" width="55%;">
                    <h5 class="card-title">{{data.name}} details....</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><label>Product Id :</label>{{data.product_id}}</li>
                        <li class="list-group-item"><label>Name :</label>{{data.name}}</li>
                        <li class="list-group-item"><label>Category :</label>{{data.category}}</li>
                        <li class="list-group-item"><label>Sub Category :</label>{{data.subCategory}}</li>
                        <li class="list-group-item"><label>Type :</label>{{data.type}}</li>
                        <li class="list-group-item"><label>Color :</label>{{data.color}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- <div mat-dialog-actions>
        <mat-icon (click)="onNoClick()">close</mat-icon>
    </div> -->
</div>