<div class="outer">
    <div class="row">
        <div class="col-3 mcard">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{loginUserName}}</mat-card-title>
                    <mat-card-subtitle>{{loginUserEmail}}</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://i.ibb.co/s1z54tB/iconfinder-Facebook-4550856.png" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="'/admin/profile/profileInfo'"> Personal Info </a>
                        <a mat-list-item [routerLink]="'/admin/profile/editProfile'"> Edit Profile </a>
                        <a mat-list-item [routerLink]="'/admin/profile/contactInfo'"> Contact Info </a>
                        <a mat-list-item [routerLink]="'/admin/profile/album'"> Profile Album </a>
                        <a mat-list-item [routerLink]="'/admin/profile/change'"> Change Password </a>
                        <a mat-list-item [routerLink]="'/admin/profile'"> Online Profiles </a>
                        <a mat-list-item [routerLink]="'/admin/profile'"> Online Profiles </a>
                        <a mat-list-item [routerLink]="'/admin/profile'"> Online Profiles </a>
                    </mat-nav-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button></button>
                    <button mat-button></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-8 content-card">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>

        </div>
    </div>
</div>