.outer{
  margin-top:2%;
}
/* .mcard {
    margin-left: 1%;
    width: 20%;
    padding: auto;

  }
.content-card{
  width:70%;
  margin-left:25%;
}   */
  .example-header-image {
    background-image: url('https://i.ibb.co/3fPcHGz/10426098-621598141291960-7859727438978321298-n.jpg');
    background-size: cover;
  }
  