table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 25%;
  }
button {
    margin-right: 8px;
      }
.btnn{
          margin-left: 65%;
          display: inline;
      }
      
img {
        width: 100px;
        height: 100px;
    }