<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="btnn">
    <mat-card-actions>
        <button mat-raised-button type="submit" [routerLink]="['/admin/addCategory']" color="primary">Add Category</button>
        <button mat-raised-button type="submit" (click)="reset()" color="primary">Remove Category</button>
        <button mat-raised-button type="submit" [routerLink]="'/admin/category'" color="primary">Cancel</button>
    </mat-card-actions>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IsActive </th>
            <td mat-cell *matCellDef="let row"> {{row.isActive}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
            <td mat-cell *matCellDef="let row"> <img [src]="row.image" /></td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <a (click)="openDialog(row.id)"><i class="far fa-eye"></i></a> &nbsp;
                <a [routerLink]="['/admin/edit', {id: row.id}]"><i class="fas fa-pen"></i></a> &nbsp;
                <a (click)="delete(row)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>