<mat-toolbar>
    <span><h3>TURQ JEWEL HANDKNOTTED SILK AREA RUG</h3></span>
</mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <img mat-card-lg-image src="assets/abc3.jpg">
        <mat-label>Turq Jewel</mat-label>
      </mat-card-content>
      <mat-card-content>
          <p>Iqbal Carpet is the largest handmade carpet establishments in Asia and is headquartered in New Delhi, India. We are synonymous with producing the highest quality handmade carpets that are truly bespoke and have become the most trusted resource for today’s rug enthusiasts. The Finest art has always been a product of the human hand. Since its inception in 1976, our carpets have been handcrafted by the most skilled artisans in the industry.</p>
      </mat-card-content>
      <mat-card-content>
        <span><b>size :</b> <label >8′.0 x 11′.0 ft / 240cm x 330cm</label> </span>
        <span><b>Design :</b> <label>Kashan</label></span>
        <span><b>Color :</b> <label>Turquoise</label></span>
        <span><b>Origin :</b> <label>Handmade in India</label></span>
        <span><b>Type :</b> <label>Kashmir Silk</label></span>
        <span><b>Quality :</b> <label>Excellent</label></span>
      </mat-card-content>
      <mat-card-content>
          <p>Decorate your home with this beautiful handknotted silk area rug, it contains very intricate design pattern and has taken 8-9 months to weave it. This is 100% hand washable and highly durable rug.</p>        
      </mat-card-content>
      <mat-card-actions>
          <button class="btn btn-primary">BUY PRODUCT</button>
          <BUTTON class="btn btn-success">COMPARE</BUTTON>
      </mat-card-actions>
  </mat-card>
