<div class="outer">
    <mat-card>
        <mat-card-content>
            <form class="outer" [formGroup]="categoryForm">

                <mat-form-field class="form-group">
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>

                <div class="form-group">
                    <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
                </div>
                <div class="image form-group">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <button (click)="fileInput.click()">Select File</button>
                    <button (click)="onUpload()">Upload!</button>
                </div>

            </form>
            <div class="btnn">
                <mat-card-actions>
                    <button mat-raised-button type="submit" (click)="addCategory()" color="primary">Add Category</button>
                    <button mat-raised-button type="submit" (click)="reset()" color="primary">Reset</button>
                    <button mat-raised-button type="submit" [routerLink]="'/admin/category'"
                        color="primary">Cancel</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>