
<h1 mat-dialog-title>Hi {{data.username}}</h1>

<div mat-dialog-content class="table-responsive">
  <h3 class="thead-dark text-center">User-Details</h3>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">Id :</th>
        <td>{{data.id}}</td>
      </tr>
      <tr>
        <th scope="row">UserName:</th>
        <td>{{data.username}}</td>
      </tr>
      <tr>
        <th scope="row">Email :</th>
        <td>{{data.email}}</td>
      </tr>

      <tr>
        <th scope="row">Phone :</th>
        <td>{{data.phone}}</td>
      </tr>
      <tr>
        <th scope="row">Password</th>
        <td>{{data.password}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
