<!-- <ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol> -->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="sr_no">
    <th mat-header-cell *matHeaderCellDef> SrNo </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
  </ng-container>

  <ng-container class="sr" matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell mat-sort-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> User Name </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>


  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element">{{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <a (click)="openDialog(element.id)"><i class="far fa-eye"></i></a> &nbsp;
      <a [routerLink]="['/home/edit', {id: element.id}]"><i class="fas fa-pen"></i></a> &nbsp;
      <a (click)="deleteUser(element.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>








<!-- 
      <ul>
        <h1>Registered Users:--</h1>
        <li *ngFor ="let user of users">
          <label>Id : </label>
          <label>{{user.id}}</label> <br>
          
          <label>User Name : </label>
          <label>{{user.username}}</label> <br>
          
          <label>Email :</label>
          <label>{{user.email}}</label> <br>
          
          <label>password : </label>
          <label>{{user.password}}</label>
        </li>
      </ul>
       -->