
  <mat-card>
    <mat-card-content>

      <div id="prd" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#prd" data-slide-to="0" class="active"></li>
          <li data-target="#prd" data-slide-to="1"></li>
          <li data-target="#prd" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/clem-onojeghuo-D8-7ra4Ocxw-unsplash.jpg" alt="carpet1">
            <div class="carousel-caption">
              <h3>Girls clothings</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/bogdan-glisik-2WgOPYJuPsU-unsplash.jpg" alt="Carpet2">
            <div class="carousel-caption">
              <h3>Mens Clothing</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/dmitriy-ilkevich-idoed.jpg" alt="Carpet3">
            <div class="carousel-caption">
              <h3>Turkeys Special</h3>
              <h4>We love the It!</h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#prd" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#prd" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

    </mat-card-content>
  </mat-card>