table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
/*   
  td, th {
    width: 25%;
  } */
  img {
    width: 100px;
    height: 100px;
  }
button{margin-right: 10px; }