/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';
html,
body {
    height: 100%;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url("./assets/product_image/vector-swamp-at-night-background.jpg");
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}