.title {
    display: block;
}

.sidebar {
    width: 100%;
    height: 100%;
    background-color: #f9e090;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.srch {
    width: 200px;
    font-size: 15px;
}

.adminImage {
    background-image: url('https://i.ibb.co/3fPcHGz/10426098-621598141291960-7859727438978321298-n.jpg');
    background-size: cover;
}

.sidenav {
    padding: 20px;
    background-color: #dc5353;
}

.example-icon {
    padding: 0 14px;
}

.color {
    background-color: #ff935c;
}

.spacer {
    flex: 1 1 auto;
}