<mat-drawer-container class="sidebar" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="title">
            <mat-card-title>{{title}}</mat-card-title>
            <mat-icon *ngIf="a" (click)="drawer.toggle(a=false)">close</mat-icon>
        </div>

        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>

        <mat-nav-list>

            <a mat-list-item [routerLink]="'/admin/profile'" (click)="setTitle( 'Profile')"> Profile </a>
            <a mat-list-item [routerLink]="'/admin/category'" (click)="setTitle( 'Categories')"> Categories </a>
            <a mat-list-item [routerLink]="'/admin/subCategory'" (click)="setTitle( 'Sub Categories')"> Sub Categories </a>
            <a mat-list-item [routerLink]="'/admin/product'" (click)="setTitle( 'Products')"> Products </a>
            <a mat-list-item [routerLink]="'/admin/order'" (click)="setTitle( 'Orders')"> Orders </a>
            <a mat-list-item [routerLink]="'/admin/user'" (click)="setTitle( 'Registered Users')"> Registered Users </a>
            <a mat-list-item [routerLink]="'/admin/payment'" (click)="setTitle( 'Payments')"> Payments </a>
            <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

        </mat-nav-list>

    </mat-drawer>
    <mat-toolbar class="color fixed-top" *ngIf="loggedIn">
        <mat-toolbar-row>
            <mat-icon *ngIf="!a" (click)="drawer.toggle(a=true)">menu</mat-icon>&nbsp;
            <mat-card-title *ngIf="!a">{{title}}</mat-card-title>
            <span class="spacer"></span>

            <mat-form-field class="srch">
                <input matInput type="text" placeholder="Search" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
            </mat-form-field>
            <mat-icon>search</mat-icon>

            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">notifications</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">person</mat-icon>
            &nbsp; &nbsp;
            <div mat-card-avatar class="adminImage"></div>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <!-- <div mat-card-avatar class="adminImage"></div> -->
                  <span>{{email}}</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item (click)="showModel()"> 
                <!-- data-toggle="modal" data-target="#change-password"> -->
                  <i class="fa fa-lock"></i> 
                   Change Password
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>person</mat-icon>
                  <span>Logout</span></button>
            </mat-menu>

        </mat-toolbar-row>
    </mat-toolbar>
    <br> <br>
    <router-outlet></router-outlet>

</mat-drawer-container>


<!-- change password model -->
<div class="modal fade" id="change-password">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="text-center">Change Password</h6>
                <form [formGroup]="changeForm">
                    <div class="form-group">
                        <label>Enter Old Password</label>
                        <input type="password" class="form-control" formControlName="old_password" />
                    </div>
                    <div class="form-group">
                        <label>Enter New Password</label>
                        <input type="password" class="form-control" formControlName="new_password" />
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" formControlName="conf_password" />
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" (click)="save()" class="btn btn-primary btn-md">Save</button>
                    <button type="button" class="btn btn-danger btn-md ml-2" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>