<div class="outer">
    <mat-card>
        <mat-card-content>
            <form class="outer" [formGroup]="subCatForm">
               
                <mat-form-field class="form-group">
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
                
                <div class="form-group">
                    <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
                </div>

                <div class="image form-group">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <button (click)="fileInput.click()">Select File</button>
                    <button (click)="onUpload()">Upload!</button>
                </div>
                <mat-form-field class="form-group">
                    <mat-label>Select Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option (click)="getAllSubCategories(cat.id)" *ngFor="let cat of category" [value]="cat.id">
                            {{cat.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <div class="btnn">
                <mat-card-actions>
                    <button mat-raised-button type="submit" (click)="addSubCat()" color="primary">Add Sub Category</button>
                    <button mat-raised-button type="submit" (click)="reset()" color="primary">Reset</button>
                    <button mat-raised-button type="submit" [routerLink]="'/admin/subCategory'"
                        color="primary">Cancel</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>