<mat-tab-group mat-stretch-tabs  dynamicHeight>
  <mat-tab label="Mens">
    <div class="products mat-elevation-z4">
      <app-product1></app-product1>
      <app-product2></app-product2>
      <app-product3></app-product3>
    </div>
  </mat-tab>
  
  <mat-tab label="Womens">
      <div class="products mat-elevation-z4">
        <app-product1></app-product1>
        <app-product2></app-product2>
        <app-product3></app-product3>
      </div>
    </mat-tab>

  <mat-tab label="Childrens">
    <div class="products mat-elevation-z4">
        <app-product1></app-product1>
        <app-product2></app-product2>
        <app-product3></app-product3>
    </div>
  </mat-tab>
</mat-tab-group>
