.products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .products {
    height: 100%;
    width: 100%;
    margin:auto;
  }