<div class="outer">
   <mat-card class="my-card">
               <span style="color: red; height:20px;">LOGIN</span>
         <mat-card-content>
             <form class="my-form" [formGroup]="loginForm">
                <mat-form-field class="full-width form-group">
                   <mat-label>Email</mat-label>
                   <input  matInput  placeholder="Email" formControlName="email" class="form-control">
                   <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width form-group">
                   <mat-label>Password</mat-label>
                   <input  matInput  placeholder="Password" formControlName="password" 
                   class="form-control"   [type]="hide ?  'text': 'password'">
                     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>
                     <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                </mat-form-field>
                     <mat-checkbox>Keep me sign in!...</mat-checkbox>     
                <a routerLink="/forget_password">Forget password?</a>
             </form>
             <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          </mat-card-content>
          
          <mat-card-actions>
             <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
             <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
            </mat-card-actions> <a routerLink="/register">Create Account</a>
   </mat-card>
   </div>