<mat-toolbar color="primary" >
     
    <mat-toolbar-row *ngIf="loggedIn">
         <span><a mat-button routerLink="/">Home</a></span>
         <span class="spacer"></span>
         <a mat-button routerLink="/someform">Some Form</a>
         <a mat-button (click)="logout()">Logout</a>
    </mat-toolbar-row>
 </mat-toolbar>


