<div class="outer">
    <mat-card class="my-card">
        <span style="color: red; height:20px;">LOGIN</span>
        <mat-card-content>
            <form class="my-form" [formGroup]="loginForm">
                <mat-form-field class="full-width form-group">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width form-group">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" [type]="hide ?  'text': 'password'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
               </button>
                    <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                </mat-form-field>
                <div class="forg">
                    <mat-checkbox>Keep me sign in!...</mat-checkbox>
                    <a routerLink="/forget-password">Forget password?</a>
                </div>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">LOGIN</button> &nbsp; &nbsp; <a [routerLink]='"/register"'>Create Account</a>
        </mat-card-actions>

        <div *ngIf="!user" class="text-center">
            <div class="card-block">
                <button class="btn btn-social-icon btn-google socl" (click)="signInWithGoogle()"><span><i
                     class="fab fa-google fa-spin left"></i></span></button>
                <button class="btn btn-social-icon btn-facebook socl" (click)="signInWithFB()"><span><i
                     class="fab fa-facebook-f fa-spin left"></i></span></button>
                <button class="btn btn-social-icon btn-linkedin socl" (click)="signInWithLinkedIn()"><span><i
                     class="fab fa-linkedin-in fa-spin left"></i></span></button>
            </div>
        </div>
    </mat-card>
</div>