.my-card {
    margin: auto;
    width: 30%;
    background-color: white;
    padding: 5%;
}

.outer {
    margin-top: 10%;
}

.full-width {
    width: 100%;
}

a {
    color: blue;
}

.forg * {
    display: block;
    padding: 2%;
}

.socl {
    margin-left: 10px;
}