<div class="outer">
        <mat-card class="my-card">
                    <span style="color: red; height:20px;">Edit User</span>
              <mat-card-content>
                  <form class="my-form" [formGroup]="editForm">
                     <mat-form-field class="full-width form-group">
                        <mat-label>User Name</mat-label>
                        <input  matInput  placeholder="Username" 
                        formControlName="username" class="form-control">
                        <mat-error *ngIf="hasError('username', 'required')">User name is required</mat-error>
                     </mat-form-field>
                     <br>
                    <mat-form-field class="full-width form-group">
                            <mat-label>Email</mat-label>
                            <input  matInput  placeholder="Email" 
                            formControlName="email" class="form-control">
                            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                    </mat-form-field> 
                    <br>
                    <mat-form-field class="full-width form-group">
                            <mat-label>Phone</mat-label>
                            <input  matInput  placeholder="Phone" 
                            formControlName="phone" class="form-control">
                            <mat-error *ngIf="hasError('phone', 'required')">phone is required</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width form-group">
                      <mat-label>Password</mat-label>
                      <input  matInput  placeholder="Password" 
                      formControlName="password" class="form-control">
                      <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
                    </mat-form-field>

                  </form>
               </mat-card-content>
               
               <mat-card-actions>
                  <button mat-raised-button (click)="updateUser()" [disabled]="editForm.invalid" color="primary">UPDATE</button>
                </mat-card-actions> <a [routerLink]="['/admin/user']">Cancel</a>
        </mat-card>
        </div>

