
  <mat-card>
    <mat-card-content>

      <div id="prd2" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#prd2" data-slide-to="0" class="active"></li>
          <li data-target="#prd2" data-slide-to="1"></li>
          <li data-target="#prd2" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/alex--C0bUDte1-g-unsplash.jpg" alt="carpet1">
            <div class="carousel-caption">
              <h3>No. 1 carpets of India</h3>
              <h4>We had such a great time in Handlooms!</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/ali-pazani-NufctI2NGJQ-unsplash.jpg" alt="Carpet2">
            <div class="carousel-caption">
              <h3>silk Rugs</h3>
              <h4>Thank you, for having a look at these rugs!</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/brooke-cagle-z1B9f48F5dc-unsplash.jpg" alt="Carpet3">
            <div class="carousel-caption">
              <h3>Turkeys Special Carpets</h3>
              <h4>We love the It!</h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#prd2" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#prd2" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

    </mat-card-content>
  </mat-card>