<div class="main">
    <mat-card class="cardd">
        <mat-toolbar color="primary">
            <span class="fill-remaining-space">My Reactive Form with Material</span>
        </mat-toolbar>
    
        <mat-card-content>
            <div class="container" *ngIf="!post; else forminfo" novalidate> 
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
              
                  <mat-form-field class="form-element">
                    <input matInput placeholder="Emailaddress" formControlName="email">
                    <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                      {{ getErrorEmail() }}
                    </mat-error>
                  </mat-form-field>
              
                  <mat-form-field class="form-element">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="!name.valid && name.touched">
                      {{ titleAlert }}
                    </mat-error>
                  </mat-form-field>
              
                  <mat-form-field class="form-element">
                    <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="description"></textarea>
                    <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                      Required field, must be between 5 and 10 characters.
                    </mat-error>
                  </mat-form-field>
              
                  <mat-form-field class="form-element">
                    <input matInput placeholder="Password" formControlName="password">
                    <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
                    <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                      {{ getErrorPassword() }}
                    </mat-error>
                  </mat-form-field>
              
                  <div class="form-element">
                    <mat-checkbox formControlName="validate" value="1">Name min. 3 characters</mat-checkbox>
                  </div>
              
                  <div class="form-element">
                    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
                  </div>
              
                </form>
              </div>
              <ng-template #forminfo>
                <div class="container">
                  {{ post | json }}
                </div>
              </ng-template>
        </mat-card-content>
    </mat-card>
</div>