<div class="outer">
    <mat-card class="my-card">
        <span style="color: blueviolet; height:20px;">Forget Password</span>
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button (click)="sendRequest()" color="primary">Send Request</button>
                <button mat-raised-button [routerLink]='"/login"' color="primary">Cancel</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>