<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Basic Info">
        <mat-card>
            <div class="block list-group">
                <div class="inline list-group-item">
                    <label for="fname">First Name :</label>
                    <label for="fname">{{first_name}}</label>
                </div>
                <div class="inline list-group-item">
                    <label for="lname">Last Name :</label>
                    <label for="lname">{{last_name}}</label>
                </div>
                <div class="inline list-group-item">
                    <label for="">Email :</label>
                    <label for="">{{email}}</label>
                </div>
                <div class="inline list-group-item">
                    <label for="">Phone :</label>
                    <label for="">{{phone}}</label>
                </div>
                <div class="inline list-group-item">
                    <label for="">Gender :</label>
                    <label for="">{{gender}}</label>
                </div>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="Peronal Info">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
</mat-tab-group>