<div class="main">

    <mat-card class="my-card">
        <span><h1>Register</h1></span>
           <mat-card-content>
              <form class="my-form"  [formGroup]="registerForm">
                  <mat-form-field class="full-width form-group" >
                    <mat-label>First Name</mat-label>
                    <input  matInput  placeholder="Firstname" formControlName="first_name" 
                    class="form-control" >
                    <mat-hint>Not more then 20 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('first_name', 'required')">First Name is required</mat-error>
                  <mat-error *ngIf="hasError('first_name', 'maxlength')">You have more than 60 characters</mat-error>
                  </mat-form-field> <br>
                  
                  
                 
                  <mat-form-field class="full-width form-group">
                      <mat-label>Last Name</mat-label>
                      <input  matInput  placeholder="Lastname" formControlName="last_name" 
                      class="form-control" >
                      <mat-hint>Not more then 20 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('last_name', 'required')">Last Name is required</mat-error>
                  <mat-error *ngIf="hasError('last_name', 'maxlength')">You have more than 60 characters</mat-error>
                  </mat-form-field> <br>
                 
               
                  <mat-form-field class="full-width form-group">
                      <mat-label>Email Address</mat-label>
                      <input  matInput  placeholder="Email" formControlName="email" 
                      class="form-control" >
                      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                      <!-- <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error> -->
                  </mat-form-field> <br>
                 
               
                  <mat-form-field class="full-width form-group">
                     <mat-label>Confirm Email</mat-label>
                      <input  matInput  placeholder="Cemail" formControlName="email2"
                      class="form-control" >
                      <mat-error *ngIf="hasError('email2', 'required')">Confirm Email is required</mat-error>
                      <!-- <mat-error *ngIf="cemail.invalid">{{getCemailErrorMessage()}}</mat-error> -->
                  </mat-form-field> <br>
                 
               
                  <mat-form-field class="full-width form-group" hintLabel="Max 10 characters">
                     <mat-label>Phone</mat-label>
                      <input  matInput #input maxlength="10"  placeholder="Phone" formControlName="phone" 
                      class="form-control" >
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                      <mat-error *ngIf="hasError('phone', 'required')">Password is required</mat-error>
                  </mat-form-field> <br>
                  
      
                 <mat-form-field class="full-width form-group">
                    <mat-label>Password</mat-label>
                    <input  matInput  placeholder="Password" formControlName="password" 
                    class="form-control" 
                    [type]="hide ?  'text': 'password'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                 </mat-form-field> <br>
                
      
              </form>
              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
           </mat-card-content>
           
           <mat-card-actions>
              <button mat-raised-button type="submit" (click)="onSubmit()" color="primary">Register</button>
           </mat-card-actions>
      </mat-card>
    </div>