<mat-card style="margin-top:1em; margin-bottom:1em">
  <mat-card-header>
    <mat-card-title> Yemi Orokotan </mat-card-title>
    <mat-card-subtitle>Lagos, Nigeria</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header style="position: absolute; right: 0px; top: 0px;"></mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Occupation">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="DOB">
      </mat-form-field>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title style="font-size: 20px;">My collapsible card title</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="!collapsed">
    <p>This is some example text.</p>
    <p>This text will disappear when you use the action button in the actions bar below.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="collapsed=true">Collapse text</button>
    <button mat-button (click)="collapsed=false">Uncollapse text</button>
  </mat-card-actions>
</mat-card>



<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Card title</mat-card-title>
    <mat-card-subtitle>Card subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content *ngIf="!collapsed">
    <p>material design card <code class="docs-markdown-code">&lt;mat-card&gt;</code></p>
    <p><a href="https://material.angular.io/components/card/examples">Material design card </a></p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="collapsed=true" color="primary">Collapse card content </button>
    <button mat-raised-button (click)="collapsed=false" color="accent">Uncollapse card content</button>
  </mat-card-actions>
</mat-card>