<div class="jumbotron bg-transparent text-center">
    <div *ngIf="user" class="card text-center">
        <h6 class="card-header">
            Social Login to {{user.provider}}
        </h6>
        <div class="card-block"></div>
        <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
        <div class="card-block">
            <h4 class="card-title">{{ user.name }}</h4>
            <p class="card-text">{{ user.email }}</p>
            <p class="card-text">{{user.provider}}</p>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <!-- <div class="card-block">
            <button class="btn btn-danger" (click)="signOut()">Sign out</button>
        </div> -->
    </div>
</div>