.bg-transparent {
    background-color: transparent;
}

 :host {
    height: 100%;
}

.photo {
    object-fit: contain;
}

.card {
    width: 20rem;
    margin: 0 auto;
}

#demo {
    margin-top: 56px;
}