.my-card {
    margin: auto;
    width: 25%;
    background-color: white;
    padding: 5%;
}

.outer {
    margin-top: 10%;
}

.example-container {
    display: flex;
    flex-direction: column;
}

#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 250px;
    min-width: 250px;
}

#divInner {
    left: 0;
    position: sticky;
}

#divOuter {
    width: 190px;
    overflow: hidden;
}

.btnn {
    flex-direction: row;
}

button {
    margin-top: 10%;
    margin-right: 5px;
}