<div class="outer">
    <mat-card class="my-card">
        <span style="color: blueviolet; height:20px;">Please enter Otp</span>
        <div class="example-container">
            <div id="divOuter">
                <div id="divInner">
                    <input id="partitioned" [formControl]="otp_number" type="text" maxlength="4" />
                </div>
            </div>
            <div class="btnn">
                <button mat-raised-button (click)="verifyOtp()" color="primary">Verify</button>
                <button mat-raised-button (click)="resendOtp()" color="primary">Resend OTP</button>
                <button mat-raised-button [routerLink]='"/login"' color="primary">Cancel</button>
            </div>
        </div>
    </mat-card>
</div>