.example-form {
    margin:auto;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .showForm{
    height: 50%;
    background-color: antiquewhite;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  div {
    text-align: center
  }