<div class="showForm">
  <button (click)="isShown = !isShown" mat-raised-button color="accent">{{isShown === false? 'Show': 'Hide'}}
    Form</button>

  <br />
  <br />

  <form #someForm="ngForm" class="example-form" *ngIf="isShown">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi" ngModel name="favoriteFood">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="cost" value="0" ngModel name="cost">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment" value="some comments about the food" ngModel
        name="comments"></textarea>
    </mat-form-field>

    <button (click)="someForm.reset()" mat-raised-button color="primary">Reset Form</button>
  </form>

</div>