<!-- change password model -->
<h1>Change password Model</h1>


<!-- <mat-card>
    <mat-toolbar>Change Your Password</mat-toolbar>
    <mat-card-content>
        <form class="chng" [formGroup]='passwordForm'>
            <mat-form-field>
                <input matInput formControlName="old_pass" placeholder="Old Password">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="new_pass" placeholder="New Password">
                <mat-error *ngIf="changePass.hasError('passwordDoNotMatch')">
                    New Password do not match
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Verify Password" formControlName='conf_pass' [errorStateMatcher]="errorMatcher">
                <mat-error *ngIf="passwordForm.hasError('passwordsDoNotMatch')">
                    Passwords do not match!
                </mat-error>
            </mat-form-field>

            <div class="state">
                Do passwords match?
                <strong>{{!userForm.hasError('passwordsDoNotMatch')}}</strong>
            </div>
        </form>
    </mat-card-content>
</mat-card> -->