 .carousel-inner img {
    width: 100%;
    height: 100%;
 }
  h4{
      color: darkgreen;
  }
  h3{
      color: darkgreen;
      
  }
  .main1{
    height:100%; 
    width:100%;
 }
  
 .main2{
    height:50%; 
    width:100%;
 }
 .main3{
    height:50%; 
    width:100%;
 }