<mat-toolbar style="background-color: cornsilk;">
    <span style=" margin: 0 auto; color: cadetblue;">  %OFFERS%</span>
</mat-toolbar>


<div class="container">
    <div class="row">
        <div class="col-8">
            <mat-card class="main1">
                <mat-card-content>

                    <div id="slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/images/abc5.jpg" alt="carpet1">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/abc11.jpg" alt="Carpet2">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/abc7.jpg" alt="Carpet3">
                            </div>
                        </div>
                        <!-- <a class="carousel-control-prev" href="#slider" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#slider" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a> -->
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-4">
            <div class="col">
                <mat-card class="main2">
                    <mat-card-content>

                        <div id="slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/images/abc5.jpg" alt="carpet1">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/abc11.jpg" alt="Carpet2">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/abc6.jpg" alt="Carpet3">
                                </div>
                            </div>
                            <!-- <a class="carousel-control-prev" href="#slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a> -->
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="main3">
                    <mat-card-content>

                        <div id="slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/images/abc5.jpg" alt="carpet1">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/abc11.jpg" alt="Carpet2">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/abc6.jpg" alt="Carpet3">
                                </div>
                            </div>
                            <!-- <a class="carousel-control-prev" href="#slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a> -->
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>