<mat-card class="my-card">
  <mat-card-content>
    <div>
      <form (submit)="addDetails()">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" name="first_name">
        </mat-form-field> <br>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="last_name">
        </mat-form-field> <br>

        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput type="text" name="phone" required>
        </mat-form-field>

      </form>
      <mat-card-actions>
        <button type="submit" mat-raised-button (click)="login()" color="#1B998B">Add Contact</button>
      </mat-card-actions>
      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
      <!-- <mat-form-field>
      <input type="submit" value="Add contact">
  </mat-form-field> -->
    </div>

    <div *ngFor="let contact of contacts">
      <div>{{contact.first_name}} {{contact.last_name}} {{contact.phone}}</div>
      <div> <input type="button" value="delete" (click)="deleteDetails(contact._id)"> </div>
    </div>

  </mat-card-content>
</mat-card>