<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="text-right">
    <button mat-raised-button [routerLink]="['/admin/addproduct']"> Add Product </button>
    <button mat-raised-button (click)="removeColumn()"> Remove column </button>
    <button mat-raised-button (click)="shuffle()"> Shuffle </button>
</div> <br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="product_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.product_id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image Url </th>
        <td mat-cell *matCellDef="let row"> <img [src]="row.image" /> </td>
      </ng-container> -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
            <td mat-cell *matCellDef="let row"> <img [src]="row.image" /></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="category_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
            <td mat-cell *matCellDef="let row"> {{row.category_name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="subCategory">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Caregory </th>
            <td mat-cell *matCellDef="let row"> {{row.subCategory}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row"> {{row.color}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="upload_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date </th>
            <td mat-cell *matCellDef="let row" [style.color]="color"> {{row.upload_date}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <a (click)="openDialog(row.product_id)"><i class="far fa-eye"></i></a> &nbsp;
                <a [routerLink]="['/admin/editproduct', {id: row.product_id}]"><i class="fas fa-pen"></i></a> &nbsp;
                <a (click)="delete(row)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>