<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Edit Basic details">

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                        Edit Your basic details...
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col">
                        <form [formGroup]="editProfile">
                            <mat-form-field class="form-group">
                                <input matInput placeholder="First name" formControlName="first_name">
                            </mat-form-field>

                            <mat-form-field class="form-group">
                                <input matInput placeholder="Last name" formControlName="last_name">
                            </mat-form-field>

                            <mat-form-field class="form-group">
                                <input matInput placeholder="Email" formControlName="email">
                            </mat-form-field>

                            <mat-form-field class="form-group">
                                <input matInput placeholder="Phone" formControlName="phone">
                            </mat-form-field>
                        </form>
                        <mat-card-actions>
                            <button mat-raised-button (click)="updateDetailsProfile()" color="primary">UPDATE</button>
                            <button mat-raised-button (click)="showModel()" color="primary">Change Password</button>
                            <button data-toggle="modal" data-target="#change-pass">change</button>
                        </mat-card-actions>
                    </div>
                    <div class="col">
                        <img src="../../../../assets/product_image/davis-sanchez-baShVq7_rLk-unsplash_DkrZkC0.jpg" />
                    </div>
                </div>

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>





    </mat-tab>
    <mat-tab label="Edit Peronal details">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
</mat-tab-group>


<!-- Change password model -->
<div class="modal fade" id="change-pass">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="text-center">Change Password</h6>
                <form [formGroup]="changeForm">
                    <div class="form-group">
                        <label>Enter Old Password</label>
                        <input type="password" class="form-control" formControlName="old_password" />
                    </div>
                    <div class="form-group">
                        <label>Enter New Password</label>
                        <input type="password" class="form-control" formControlName="new_password" />
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" formControlName="conf_password" />
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" (click)="save()" class="btn btn-primary btn-md">Save</button>
                    <button type="button" class="btn btn-danger btn-md ml-2" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>