<mat-card class="my-card">
  <mat-card-content>
    <div>
      <form (submit)="addDetails()">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" name="firstName">
        </mat-form-field> <br>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="lastName">
        </mat-form-field> <br>

        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput type="text" name="userName" required>
        </mat-form-field> <br>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="text" name="password" required>
        </mat-form-field>

        <mat-card-actions>
          <input type="submit" Value="Register" color="#1B998B" />
        </mat-card-actions>
      </form>

      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
      <!-- <mat-form-field>
      <input type="submit" value="Add contact">
  </mat-form-field> -->
    </div>

    <div *ngFor="let user of users">
      <div>{{user.firstName}} {{user.lastName}} {{user.userName}} {{user.password}}</div>
      <div> <input type="button" value="delete" (click)="deleteDetails(contact._id)"> </div>
    </div>
  </mat-card-content>
</mat-card>