label{
    color: #1B998B;
    height: 20px;
    width: 100px;
    margin: 10px;
}
input{
    color: black;
    margin: 10px;
}
.my-card{
    margin-top: 5%;
    margin-left:10%;
    background-color: #F8F1FF;
    width: 50%;
}
.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }
  
button{
  background-color: #1B998B;
  color: white;
}