<div *ngIf="loggedIn">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <h1>IQBAL CARPETS</h1>
            <span class="menu-spacer"></span>

            <a mat-button routerLink="/">Home</a>
            <a mat-button routerLink="/home/cards">Cards</a>
            <a mat-button routerLink="/home/users">Users</a>
            <a mat-button routerLink="/home/contact">Contacts</a>
            <a mat-button routerLink="/home/user">Registered Users</a>
            <a mat-button routerLink="/home/someform">Some Form</a>
            <a mat-button (click)="logout()">Logout</a>
        </mat-toolbar-row>
    </mat-toolbar>


    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list>

                <a mat-list-item [routerLink]="'/home/carpet1'"> Carpet 1 </a>
                <a mat-list-item [routerLink]="'/home/carpet2'"> Carpet 2 </a>
                <a mat-list-item [routerLink]="'/home/carpet3'"> Carpet 3 </a>
                <a mat-list-item [routerLink]="'/home/carpet4'"> Carpet 4 </a>
                <a mat-list-item [routerLink]="'/home/cards'"> Cards </a>
                <a mat-list-item [routerLink]="'/home/create-activity'"> Create Activity </a>
                <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height: 88vh;">
                
                <router-outlet></router-outlet>
                <app-footer></app-footer>

            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>