<div class="outer">
    <mat-card class="my-card">
        <span style="color: red; height:20px;">Edit Product</span>
        <mat-card-content>
            <form class="my-form" [formGroup]="editForm">
                <mat-form-field class="full-width form-group">
                    <mat-label>Product Name</mat-label>
                    <input matInput placeholder="name" formControlName="name" class="form-control">
                    <mat-error *ngIf="hasError('name', 'required')">name is required</mat-error>
                </mat-form-field>
                <br>
                <div class="image form-group">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <button (click)="fileInput.click()">Select File</button>
                    <button (click)="onUpload()">Upload!</button>
                </div>
                <mat-form-field class="form-group">
                    <mat-label>Select Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option (click)="getAllSubCategories(cat.id)" *ngFor="let cat of category" [value]="cat.id">
                            {{cat.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-group">
                    <mat-label>Select Sub Category</mat-label>
                    <mat-select formControlName="subCategory">
                        <mat-option [value]="sub.id" *ngFor="let sub of subCategory">{{sub.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width form-group">
                    <mat-label>type</mat-label>
                    <input matInput placeholder="type" formControlName="type" class="form-control">
                    <mat-error *ngIf="hasError('type', 'required')">type is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width form-group">
                    <mat-label>color</mat-label>
                    <input matInput placeholder="color" formControlName="color" class="form-control">
                    <mat-error *ngIf="hasError('color', 'required')">color is required</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="updateUser()" [disabled]="editForm.invalid" color="primary">UPDATE</button>
        </mat-card-actions> <a [routerLink]="['/admin/product']">Cancel</a>
    </mat-card>
</div>