.my-card {
    margin: auto;
    width: 40%;
    height: 60%;
    background-color: white;
    padding-left: 5%;
    padding-top: 2%;
}

.outer {
    margin-top: 3%;
}

.full-width {
    width: 100%;
}

a {
    color: blue;
}