<div class="outer">
    <mat-card>
        <mat-card-content>
            <form class="outer" [formGroup]="productForm">
                <mat-form-field class="form-group">
                    <input matInput type="number" placeholder="Product Id" formControlName="product_id">
                </mat-form-field>

                <mat-form-field class="form-group">
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>

                <div class="image form-group">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <button (click)="fileInput.click()">Select File</button>
                    <button (click)="onUpload()">Upload!</button>
                </div>
                <mat-form-field class="form-group">
                    <mat-label>Select Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option (click)="getAllSubCategories(cat.id)" *ngFor="let cat of category" [value]="cat.id">
                            {{cat.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-group">
                    <mat-label>Select Sub Category</mat-label>
                    <mat-select formControlName="subCategory">
                        <mat-option [value]="sub.id" *ngFor="let sub of subCategory">{{sub.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-group">
                    <input matInput placeholder="Type" formControlName="type">
                </mat-form-field>

                <mat-form-field class="form-group">
                    <input matInput placeholder="Color" formControlName="color">
                </mat-form-field>
            </form>
            <div class="btnn">
                <mat-card-actions>
                    <button mat-raised-button type="submit" (click)="addProduct()" color="primary">Add Product</button>
                    <button mat-raised-button type="submit" (click)="reset()" color="primary">Reset</button>
                    <button mat-raised-button type="submit" [routerLink]="'/admin/product'"
                        color="primary">Cancel</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>