.outer {
    display: flex;
    flex-direction: column;
    width:60%;
    margin: 0 auto;
    padding:2%; 
  }
  
  .outer > * {
    width: 100%;
  }

  button {
  margin-right: 8px;
    }
    .btnn{
        margin-left :30%;
        margin-right: 30%;
        margin-top: -20px;
    }
    