<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Profile Images">
        <h1>Some tab content</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab label="Album 1">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab label="Album 2">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
</mat-tab-group>